@model RecomSinqia.Models.Recomendacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recomendacao</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Gerencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gerencia.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sistema.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classificacao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFalha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFalha.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dificuldade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
